@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Development/Deploy/Publish - © Microsoft .NET Core MVC - Azure(AppServices)/GitHub(Actions) - Autor: Pintos Julio.</p>
</div>
