@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>First Development/Deploy - .NET Core 3.1 MVC - Azure(WebAppServices) - Autor: Pintos Julio.</p>
</div>
